<!DOCTYPE html>
<html>

<head>
	<title>Página não encontrada</title>
	<meta name="viewport" content="width=devices-width" />
	<meta charset="utf-8" />

	<!-- build:css css/404.min.css -->
	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- endbuild -->

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
</head>

<body>
	<br />
	<!-- Begin page content -->
	<main role="main" class="container">
		<div class="jumbotron">
			<h1 class="display-3">Ops! ERRO 404</h1>

			<div>
				<h4 class="text-center">A página que você queria acessar não foi encontrada.</h4>
				<h4 class="text-center">Possiveis erros:</h4>
			</div>
			<br />
			<p class="lead">- O conteudo não está mais disponivel.</p>
			<p class="lead">- O endereço que você escreveu está errado.</p>
			<br />
			<br />
			<p>
				<a class="btn btn-lg btn-success" href="/" role="button">Voltar para a página principal</a>
			</p>
		</div>
	</main>
</body>
</html>