<!DOCTYPE html>
<html ng-app="contatooh">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Página principal de navegação">
		<meta name="author" content="Marco A.C. - marco.acarvalho76@gmail.com">

		<title>Sbrebol</title>

		<!-- build: css css/index.min.css -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css" />
		<!-- endbuild -->

		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="vendor/style/navbar.css" />
		<link rel="stylesheet" href="vendor/style/offcanvas.css" />
		<link rel="stylesheet" href="vendor/style/blog.css">
		<!-- End Custom styles -->
      	
	</head>
	<body>
		<!-- Este bloco só aparecerá quando houver um usuario logado -->

		<div ng-view></div>

		<!-- build:js js/index.min.js -->
		<script src="vendor/angular/angular.min.js"></script>
		<script src="vendor/angular-route/angular-route.min.js"></script>
		<script src="vendor/angular-resource/angular-resource.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/controllers/AutomoveisController.js"></script>
		<!--
		<script src="js/services/ListaService.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		
		<script src="js/controllers/ContatoController.js"></script>
		<!- - endbuild -->


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	</body>
</html>